@keyframes logoAnimate {
  0% {
    transform: rotate(0deg) scale(1, 1);
    animation-timing-function: cubic-bezier(0.59, -0.03, 0.41, 1.02)
  }

  50% {
    transform: scale(0.8, 0.8);
    animation-timing-function: cubic-bezier(0.59, -0.03, 0.41, 1.02)
  }

  100% {
    transform: rotate(90deg) scale(1, 1);
  }
}

@keyframes contactAnimate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}