.s-hero {
  width: 100%;
  height: 100vh;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .content {
    h3 {
      font-weight: 400;
      font-size: 3.2rem;
      line-height: 100%;
      color: $secondary-color;

      margin-bottom: 0.8rem;
    }

    h1 {
      font-weight: 500;
      font-size: 10.4rem;
      line-height: 100%;

      margin-bottom: 1.6rem;
    }

    p {
      font-weight: 400;
      font-size: 2rem;
      line-height: 3rem;

      display: block;
      max-width: 62rem;
      margin-bottom: 6.4rem;
    }

    .link-more {
      display: flex;
      gap: 8rem;

      span {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }
  }
}

.s-about {
  width: 100%;
  height: 100vh;

  .container {
    height: 100%;
    display: flex;

    .content {
      display: flex;
      align-items: center;
    }
  }

  .content-left {
    width: 30%;
    gap: 9.5rem;

    h2 {
      font-weight: 500;
      font-size: 9.6rem;
      line-height: 100%;

      text-orientation: mixed;
      writing-mode: vertical-lr;
      transform: scale(-1, -1);
    }

    .time-line {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;

      .line {
        height: 100%;
        max-height: 80rem;
        width: 4px;
        background: linear-gradient(180deg, $secondary-color 34.59%, $primary-color 100%);

        position: relative;

        .point {
          position: absolute;
          left: -2px;

          display: flex;
          align-items: center;
          gap: 16px;

          .circle {
            width: 8px;
            height: 8px;
            background-color: $secondary-color;
            
            border-radius: 50%;
            display: inline-block;
          }

          span {
            display: inline;
            white-space: nowrap;

            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
          }

          &-1 {
            top: -6px;
          }

          &-2 {
            top: 136px;
          }

          &-3 {
            top: 204px;
          }

          &-4 {
            top: 416px;
          }
        }
      }
    }
  }

  .content-right {
    width: 70%;
    justify-content: flex-end;

    .checkpoints {
      max-height: 41rem;
      overflow: hidden;

      .checkpoint {
        background-color: $primary-color;

        text-align: right;

        h3 {
          font-weight: 600;
          font-size: 4.8rem;
          line-height: 100%;

          margin-bottom: 1.6rem;
        }

        h4 {
          font-weight: 500;
          font-size: 2.4rem;
          line-height: 100%;

          margin-bottom: 3rem;
        }

        p {
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 140%;

          display: block;
          max-width: 67rem;

          & + p {
            margin-top: 16px;
          }
        }

        .icons {
          margin-top: 6.4rem;

          display: flex;
          justify-content: flex-end;
          gap: 16px;
        }
      }
    }
  }
}

.s-projects {
  width: 100%;

  padding: 6.4rem 0;

  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    .title {
      width: 100%;
      max-width: calc(50% - 12px);
      height: 30rem;

      display: flex;
      align-items: center;
      justify-content: center;

      h2 {
        font-weight: 500;
        font-size: 9.6rem;
        line-height: 100%;

        max-width: 40rem;
      }
    }
  }
}

.s-skills {
  width: 100%;

  padding: 6.4rem 0;

  .content {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;

    .top,
    .bottom {
      width: 100%;

      display: flex;
      justify-content: space-between;
      gap: 24px;

      .hard-lines,
      .soft-lines {
        display: flex;
        flex-direction: column;
        gap: 24px;

        width: 100%;
        max-width: calc(50% - 12px);
      }
    }

    .title {
      display: flex;
      align-items: center;
      gap: 36px;

      h2 {
        font-weight: 500;
        font-size: 9.6rem;
        line-height: 100%;

        max-width: 25rem;

        &:first-child {
          text-align: right;
        }
      }

      span {
        font-weight: 500;
        font-size: 16rem;
        line-height: 100%;

        color: $secondary-color;
      }
    }
  }
}

footer {
  padding: 4.8rem 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .copyright {
    font-weight: 400;
    font-size: 1.6rem;
  }
}