.s-hero {
  width: 100%;

  background-image: url("../assets/background-hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  .container {
    height: 100%;
  }

  .content {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .presentation,
    .resume {
      width: 100%;
      max-width: 31rem;
    }

    .presentation {
      span {
        font-family: 'Lora', serif;
        font-size: 1.5rem;
      }

      h1 {
        font-weight: 700;
        font-size: 4.5rem;
        color: $primary-default;

        margin-bottom: 2rem;
      }

      small {
        font-family: 'Lora', serif;
      }
    }

    .resume {
      p {
        font-family: 'Lora', serif;
        font-size: 1.25rem;
        text-align: right;
      }
    }

    .logo {
      width: 100%;
      max-width: 25rem;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        animation: logoAnimate 3000ms linear 1 normal forwards
      }
    }
  }
}

.s-works {
  width: 100%;

  .container {
    height: 100%;
  }

  .content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.6rem;

    h2 {
      font-weight: 700;
      font-size: 4rem;
      color: $primary-default;
    }

    .slide-works {
      .swiper-wrapper {
        .swiper-slide {
          width: 45rem;
          
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          background: rgba(255, 255, 255, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);

          padding: 5rem 3.5rem;

          .image {
            border-radius: 16px;

            overflow: hidden;
          }

          a {
            font-family: 'Lora', serif;
            font-weight: 500;
            color: $white;
          }
        }
      }
    }
  }
}